@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
    
<footer>
    <p>Nombre: Fabio Gonzalez, Dana Boada, Abigail Espinosa, Nicolás Recalde <br>Carrera:Ingeniería en Software<br>Somos un equipo amante del futbol.</p>
</footer>
